# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OSS Contrib\keycloak-generic-sms-authenticator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
